.container {
    font-size: 14px;
    color: yellow;
    background:  url('') 0 0 repeat;
}

.header {
    background-color: transparent;
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
    color: white;
    font-style: normal;
    font-family: 'Rowdies', cursive;
}

@keyframes bgcolor {
    0% {
        background-color: #45a3e5;
    }

    30% {
        background-color: #66bf39;
    }

    60% {
        background-color: #eb670f;
    }

    90% {
        background-color: #f35;
    }

    100% {
        background-color: #864cbf;
    }
}

.body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.a {
    text-decoration: none;
    cursor: default;
}
.b {
    text-decoration: none;
    cursor: default;
}


.p {
    font-family: 'Rowdies', cursive;
    text-align: center;
    color: ghostwhite;
    font-style: normal;
    height: 100px;
    position: relative;
    left: 0;
    top: 250px;
}

.button {
    background-color: hotpink;
    position: relative;
    left: 730px;
    top: 275px;
    border: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 4px 2px;
    padding: 15px 32px;
    color: transparent;
    outline: 0;
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.button2 {
    background-color: rgb(99, 7, 136);
    position: fixed;
    left: 763px;
    top: 750px;
    border: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 4px 2px;
    padding: 15px 32px;
    color: transparent;
    outline: 0;
    border: none;
}

.button3 {
    background-color: rgb(99, 7, 136);
    position: fixed;
    left: 1099px;
    top: 750px;
    border: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 4px 2px;
    padding: 15px 32px;
    color: transparent;
    outline: 0;
    border: none;
}

.videoo {
    position: fixed;
    left: 765px;
    top: 500px;
}

.haso {
    position: fixed;
    left: 900px;
    top: 80px;
    width: 140px;
    border-radius: 7px;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    display: inline-block;
    flex-direction: revert;
    
}

.dosyalar {
    font-family: 'Rowdies', cursive;
    text-align: center;
    text-decoration: none;
    font-style: rgba(0, 0, 0, 1);
    font-size: 10px;
    position: relative;
}

.link {
    font-family: 'Rowdies', cursive;
    text-align: center;
    text-decoration: none;
    font-style: rgba(0, 0, 0, 1);
    font-size: 25px;
    position: relative;
    color: rgb(28, 25, 187);
}

.resim {
    position: relative;
    left: 270px;
    top: 90px;
    height: auto;
    width: 800px;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    display: inline-block;
    flex-direction: revert;
    border: hotpink;
    outline: snow;
    cursor: default;
}
.resim2 {
    position: relative;
    left: 500px;
    top: -190px;
    height: auto;
    width: 800px;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    display: inline-block;
    flex-direction: revert;
    border: hotpink;
    outline: snow;
    cursor: default;
}
.resim3 {
    position: relative;
    left: 500px;
    top: -190px;
    height: auto;
    width: 800px;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    display: inline-block;
    flex-direction: revert;
    border: hotpink;
    outline: snow;
    cursor: default;
}

.nyan-cat {
    position: fixed;
    bottom: 10px;
    left: 850px;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.nyan-cat img {
    width: 15%;
    animation: moveNyan 8s linear infinite;
}

@keyframes moveNyan {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(50%);
    }
}

 /* kar efekti sytles */
 #snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}
.snowflake {
    position: absolute;
    top: -10px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: fall linear infinite;
}
@keyframes fall {
    to {
        transform: translateY(100vh);
        opacity: 0;
    }
}